@import url("https://fonts.googleapis.com/css2?family=Cedarville+Cursive&family=Poppins&family=Roboto:wght@100&family=Source+Serif+4:opsz,wght@8..60,300&family=Ubuntu:wght@300&display=swap");

body {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  background-color: #181619;
}
.container {
  min-height: 90vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  text-align: center;
}
h1 {
  font-family: "Poppins";
  margin: 0 0 50px 0;
  font-weight: 300;
  font-size: 3rem;
  color: #d5d5d5;
}

label {
  color: #a8a8a8;
  font-weight: 600;
  font-family: "Roboto", sans-serif;
  font-size: 1.2rem;
}

h2 {
  color: aliceblue;
  font-family: "Poppins";
  margin-top: 0;
  font-weight: 300;
  font-size: 2rem;
}

.in {
  box-shadow: inset;
  margin-left: 10px;
  padding: 10px 20px;
  border: none;
}

.in:focus {
  outline: none;
}

.click {
  margin: 50px;
  align-items: center;
  background-color: #ffffff;
  border: 1px solid rgba(0, 0, 0, 0.1);
  border-radius: 0.25rem;
  box-shadow: rgba(50, 50, 50, 0.02) 0 1px 3px 0;
  box-sizing: border-box;
  color: rgba(0, 0, 0, 0.85);
  cursor: pointer;
  font-family: system-ui, -apple-system, system-ui, "Helvetica Neue", Helvetica,
    Arial, sans-serif;
  font-size: 16px;
  font-weight: 600;
  justify-content: center;
  line-height: 1.25;
  min-height: 3rem;
  padding: calc(0.875rem - 1px) calc(1.5rem - 1px);
  text-decoration: none;
  transition: all 250ms;
  user-select: none;
  -webkit-user-select: none;
  touch-action: manipulation;
  vertical-align: baseline;
  width: auto;
}

.click:hover,
.click:focus {
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(255, 255, 255, 0.575) 0 4px 12px;
  color: rgba(0, 0, 0, 0.65);
}

.click:hover {
  transform: translateY(-1px);
}

.click:active {
  background-color: #f0f0f1;
  border-color: rgba(0, 0, 0, 0.15);
  box-shadow: rgba(255, 253, 253, 0.06) 0 2px 4px;
  color: rgba(0, 0, 0, 0.65);
  transform: translateY(0);
}
